.form-container {
	width: 400px;
	margin: auto;
}

#date-picker {
	width: 100% !important;
}

.react-datepicker-wrapper {
	width: 100%;
}

.ui.container {
	padding-bottom: 7rem;
}

.userless-container {
	height: 50vh;
	display: flex;
	align-items: center;
}
